<div class="card mb-2 border-left-{{priorityclass}}">
    <div class="card-body py-2">
        <div class="d-flex justify-content-between">
            <div>
                <strong>{{title}}</strong>
                {{#description}}<br><small>{{description}}</small>{{/description}}
            </div>
            <span class="badge badge-{{priorityclass}}">{{prioritylabel}}</span>
        </div>
    </div>
</div>